*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0 5%;
padding-top: 5%;

}
nav{
    display: flex;
    justify-content: space-around;
}
nav img[alt="logo"]{
    width: 8%;
}
nav img[alt="actions"]{
    width: 20%;
}
nav .nav-items{
    justify-content: space-around;
    width: 40%;
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
}
nav .nav-items .active-item{
color: orangered;
}
nav .nav-item:hover{
    color: orangered;

}
/* intro-section */
.intro-section{
    display: flex;
    position: relative;
    padding-top: 4%;

}
.left-section{
    align-self: center;
    padding: 0 5%;
}
.left-section h3{
    font-family: 'Poppins';

    font-size: 30px;
    font-weight: 100;
}
.left-section img[alt="circles"]{
    width: 7%;
}
.left-section h1{
        font-family: 'Fredoka One';
        font-weight: 100;
letter-spacing: 2px;
    font-size: 60px;
}
.sub-headlines{
    margin: 5% 0;

   padding-left: 12%; 
}
.sub-headline img[alt="plus"]{
    background-color: orangered;
    border-radius: 50px;
    border: 0;
    margin-right: 3%;
}
.sub-headline{
    font-family: 'Poppins';
    font-size: 20px;
}
.left-section .text{
    font-family: 'Poppins';
    font-size: 12px;
    color:#A0A0A0;
}
.action-btns .action-btn{
    margin-top: 6%;
    font-size: 15px;
    width: 18%;
    padding: 2% 0;
    border-radius: 25px;
    border: 0;
    background-color: orangered;
    color: white;
}
.action-btns .second{
    margin-left: 3%;
}
/* right-section */
.right-section{
    text-align: center;
}
.headphone-div img[alt="discount"]{
    width: 10%;
    position: absolute;
    right: 20%;
    top: 45%;
}
.headphone-div .discount-content{
    position: absolute;
    top: 51%;
    right: 22%;
    color: #ffffff;

}
.headphone-div .discount-content h4{
    font-size: 12px;
}
.headphone-div img[alt="headphone"]{
    width: 100%;
}
.right-section .dots{
    display: flex;
    justify-content: center;
}
.right-section .dot{
padding: 12px;
}
.dots .yellow-dot{
    background-color: #ffff00;
    border: 0;
    border-radius: 50%;
}
.dots .tomato-dot{
    margin: 0 7%;
    background-color:#ff6347;
    border: 0;
    border-radius: 50%;
}
.dots .black-dot{
    background-color:#000000;
    border: 0;
    border-radius: 50%;
}
.right-section .action-btn{
    margin-top: 12%;
    font-size: 15px;
    width: 40%;
    padding: 4% 0;
    border-radius: 25px;
    border: 0;
    background-color: orangered;
    color: white;
}